<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
        <title>Document</title>
        <style>
    	@page {
    		@top-right {
        	content: "Page " counter(page) " of " counter(pages);
        	            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

        	padding-right: 15px;
    		}
		}
		
		
		
		
		
	    </style>  
    </head>
    <body>
        <div class="ml-5 mr-5 mt-5">
            <div class="row">
                <div class="col-6">
                    <img src="" />
                    <img src="" />
                </div>
                <div style="text-align: right;" class="col-6">
                    <img style="max-height: 50px;" src=""/>
                </div>            
            </div>
<!--             <hr> -->
            <div class="row" style="line-height: 14px; font-size: 13px; padding-left: 15px; padding-right: 15px;">
                <div class="flex-grow-1 justify-content-start">
                    <table>
                        <tr>
                            <td style="width: 110px;">
                                <strong>Contrato:</strong>                        
                            </td>
                            <td>
                                &#xA0;;<strong>Construcción Edificio Municipalidad de La Serena</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>Código:</td>
                            <td>&#xA0;;CT001</td>
                        </tr>
                        <tr>
                            <td>Mandante:</td>
                            <td>
                                &#xA0;;Ilustre Muncipalidad de La Serena | &#xA0;;RUT: 78.254.365-6                         
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                &#xA0;;Dirección de Obras Municipales
                            </td>
                        </tr>
                        <tr>
                            <td>Contratista:</td>
                            <td>&#xA0;;Constructora Ivesa Ltda. |  &#xA0;;RUT: 76.564.698-9</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                &#xA0;;Oficina de Obras y Contratos
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="justify-content-end">
                    <table>
                        <tr>
                            <td style="width: 110px;">
                                <strong>Libro:</strong>
                            </td>
                            <td>
                                &#xA0;;<strong>Maestro</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>Código:</td>
                            <td>&#xA0;;LO001</td>
                        </tr>
                        <tr>
                            <td>Clase Libro:</td>
                            <td>&#xA0;;Maestro</td>
                        </tr>
                        <tr>
                            <td>Tipo Firma:</td>
                            <td>&#xA0;;Digital Avanzada</td>
                        </tr>
                        <tr>
                            <td>Fecha Apertura:</td>
                            <td>
                            &#xA0;;12/04/2020 13:45</td>
                        </tr>
                        <tr>
                            <td>Fecha Cierre:</td>
                            <td>
                                &#xA0;;25/06/2020 18:14
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
<!--             <hr /> -->
<!--             <hr> -->
            <div style="line-height: 15px; font-size: 14px;">
                <table>
                    <tr>
                        <td style="font-size: 16px; width: 110px;">
                            <strong>Folio Nº1</strong>                
                        </td>
                        <td>
                            &#xA0;;12-04-2020 14:32:05
                        </td>
                    </tr>
                    <tr>
                        <td>Emisor:</td>
                        <td>
                            &#xA0;;Fernando Vilches Soleman | RUT: 13.224.233-K
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>&#xA0;;Administrador de Contrato</td>
                    </tr>
                    <tr>
                        <td>Receptor:</td>
                        <td>
                            &#xA0;;Francisco Olivares Carmona | RUT: 17.546.324-6
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>&#xA0;;Inspector Técnico de Obras</td>
                    </tr>
                    <tr>
                        <td>Tipo de Folio:</td>
                        <td>&#xA0;;Consulta</td>
                    </tr>
                    <tr>
                        <td>Respuesta de:</td>
                        <td>&#xA0;;Libro Maestro | Folio Nº23</td>
                        <!-- <td>&#xA0;;n/a</td> -->
                    </tr>
                    <tr>
                    <td>Referencia de:</td>
                    <td>                     
                        <li class="list-inline-item ">
                        <a>&#xA0;;Libro Maestro  | Folio Nº22&#xA0;;;</a>
                        </li>                    
                    </td>
                    </tr>
                    <tr>
                    <td>Fecha Requerida:</td>
                    <td>
                        &#xA0;;<span class="badge badge-primary">n/a</span>
                        <span style="color: white;" class="badge badge-primary">
                        25-12-2020 13:00
                        </span>
                    </td>
                    </tr>
                    <tr>
                    <td>Asunto:</td>
                    <td>&#xA0;;Se ajunta RP Nº3 del mes de Septiembre de 2020, con antecedentes de respaldo</td>
                    </tr>
                </table>
            </div>        
<!--             <hr /> -->
            <div style="font-size: 14px; font-weight: bold;">Anotación:</div>
            <div>
                Aqui la anotación
            </div>
<!--             <hr><hr /> -->
            <div style="font-size: 14px;">
                <strong>Archivos Adjuntos:</strong>
                <ul style="line-height: 17px;">
                    <li>Lorem ipsum.jpg | 3,56 MB</li>
                    <li>Phasellus iaculis.doc | 12,598 MB</li>
                    <li>Nulla volutpat.xls | 6,542 KB</li>
                </ul>
            </div>
<!--             <hr><hr /> -->
            <div class="row" style="padding-left: 15px;">
                <div>
                <img style="max-height: 50px;" src=""/>
                 
                </div>
                <div style="line-height: 15px; font-size: 13px;padding-left: 5px;">
                    <strong>Fernando Vilches Soleman</strong>
                    <br/>RUT: 13.224.233-K
                    <br/>Administrador de Contrato
                    <br/>Fecha Firma: 12/05/2020 12:45:03 
                    <br/>Firma Digital Avanzada
                    <br/>Cód. Verificación: d5sd4537dasd45675asd456ad-7856asd-745
            </div>   
                
<!--             <hr class="mt-3"></hr> -->
            <p style="font-size: 12px;" class="text-right">
                Para verificar la validez del folio dirigirse a <a href="">www.lodigital.cl</a>                
            </p>
        </div>
        </div>
       </body>
</html>


